body{
    text-align: center;
}

button {
    width: 200px;
}
#start-page {
    margin-left: 10px;
    margin-right: 10px;
    /* width: 500px; */

}

.start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#my-canvas { 
    
}